*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 10px;
    text-align: center;
}

button{
    margin: 10px;
    padding: 10px;
    width: fit-content;
    background-color: rgb(43, 150, 43);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}


.box{
    width: 90vw;
    margin: 5px;
    padding: 0.5rem 1rem ;
    background-color: white;
}